body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.buttons {
    margin-top: 10px;
}

button {
    margin: 5px;
    padding: 10px;
}